# MLOps Pipeline Requirements
# Project: ML System for Streaming Data Processing

pandas==2.3.1
numpy==2.0.2
scikit-learn==1.6.1
joblib==1.5.1
matplotlib==3.9.4
seaborn==0.13.2
shap==0.48.0
pyyaml==6.0.2
psutil==7.0.0
tqdm==4.67.1
mlxtend==0.22.0

